@tailwind preflight;
@tailwind components;
@tailwind utilities;

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 992px) {
    .offsetted {
        transform: translateY(40px);
        height: calc(100vh - 4rem - 80px);
    }
}